@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

#feed {
    max-width: 600px;
    margin: auto;
}

.category-display {
    width: 40rem;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    width: 40rem;
}

.reply {
    margin-left: 3rem;;
}

.post-title {
    font-weight: bold;
}

.category-display {
    min-height: 20px;
    border: 1px solid #ccc;
    padding: 5px;
    background: #f9f9f9;
}

.post-categories {
    color: #848484;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
}

.row.spread {
    justify-content: space-between;
}

.likes {
    max-width: fit-content;
    font-size: 1em !important;
    vertical-align: bottom !important;
    line-height: 1;
    cursor: pointer;
}

.post-categories,
.post-reactions,
.post-replies,
.post-addition {
    background-color: #e7e7e7;
    border-radius: 0.3rem;
    padding: 0.2rem 0.5rem 0.15rem 0.5rem;
}

.post-categories {
    max-width: 15rem;
}

.post-replies.clickable,
.post-addition {
    cursor: pointer;
}